img {
	padding: 20px;
	max-width: 400px;
}
table {
	font-size: 12px;
	 border-collapse: collapse;
}
td {
	white-space: pre-wrap;
	border: 1px solid gray;
}
.offline {
	color: gray;
}
.online {
	color: green;
}
#messages {
	/* height: 400px; */
    overflow: auto;
    background-color: #000;
    color: greenyellow;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
#oneliner {
	width: 100%;
	font-size: 16px;
}

.highlight {
    color: green;
    border: 4px solid gray;
}